<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성 일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleList}">
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}">제목</a>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}">작성 일시</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/article/create}">등록</a>
</div>
</html>
