<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
    <form th:object="${articleForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <label for="title" class="form-label">제목</label>
                </td>
                <td>
                    <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="content" class="form-label">내용</label>
                </td>
                <td>
                    <textarea name="content" id="content" th:field="*{content}" class="form-control" rows="10"></textarea>
                </td>
            </tr>
            </tbody>
        </table>

        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
